html,
body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
  'Arial', sans-serif;
  background-image: repeating-linear-gradient(112.5deg, hsla(19,0%,93%,0.2) 0px, 
  hsla(19,0%,93%,0.2) 0px,transparent 0px, transparent 1px,hsla(19,0%,93%,0.2) 1px, 
  hsla(19,0%,93%,0.2) 4px,transparent 4px, transparent 5px,
  hsla(19,0%,93%,0.2) 5px, 
  hsla(19,0%,93%,0.2) 8px),
  repeating-linear-gradient(0deg, hsla(19,0%,93%,0.2) 0px, 
  hsla(19,0%,93%,0.2) 0px,transparent 0px, transparent 1px,
  hsla(19,0%,93%,0.2) 1px, 
  hsla(19,0%,93%,0.2) 4px,transparent 4px, transparent 5px,
  hsla(19,0%,93%,0.2) 5px, 
  hsla(19,0%,93%,0.2) 8px),
  linear-gradient(135deg, rgb(238, 238, 238),
  rgb(121, 121, 121));

  min-height:101%;
}

.main {
  max-width: 680px;
  margin: 32px auto;
  margin-bottom: 32px;
  background: #FFF;
  box-shadow: 1px 4px 15px -8px rgba(0,0,0,0.85);
}

.delButton {
  float: right;
}

a:active,
a:hover,
a:visited,
a:link {
  color: #673ab7;
}

.pagination {
  a {
    color: #673ab7;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }

   a.active {
     background-color:  #673ab7;
     ;
     color: white;
   }

  a:hover:not(.active) {background-color: rgb(170, 175, 190);}
}